server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/layered_db
    username: layered_user
    password: layered_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
